@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Azeret Mono", monospace;
}

/* common styles */
.text-content {
    width: 50%;
}

.section-desc {
    color: rgb(13, 19, 33);
    margin-bottom: 48px;
}

.section-title {
    color: rgb(13, 19, 33);
    font-size: 32px;
    font-weight: 800;
    line-height: 37px;
    margin-bottom: 24px;
}

.text-center {
    text-align: center;
}

.btn-primary {
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
    padding: 17px 24px 17px 24px;
    border: 1px solid rgb(13, 19, 33);
    opacity: 0.8;
    color: rgb(13, 19, 33);
    font-size: 20px;
    font-weight: 600;
    line-height: 23px;
}

/* header styles starts here */
.header {
    max-width: 1440px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 35px 166px 35px 150px;
    margin: 0 auto;
}

.header h1 {
    color: rgb(13, 19, 33);
    font-size: 28px;
    font-weight: 800;
    line-height: 33px;
}

.header button {
    border-radius: 8px;
    background: rgb(255, 255, 255);
}

/* banner section styles starts here */
.banner-container {
    max-width: 1440px;
    height: 652px;
    background-image: url('/assets/Hero-bg.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: 0 auto;
    margin-bottom: 74px;
    padding-top: 26px;
}

.banner-container>.banner-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 26px 221px 44px 221px;
    margin: 0 auto;
    height: 582px;
}

.banner-bottom>h2 {
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 38px;
    font-weight: 800;
    line-height: 68px;
    margin: 24px 0px;
}

.banner-bottom>p {
    color: rgb(13, 19, 33);
    opacity: 0.7;
    margin-bottom: 32px;
}

.banner-bottom>a {
    display: inline-block;
    padding: 21px 24px 21px 24px;
    background: rgb(13, 19, 33);
    border-radius: 8px;
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: 600;
    line-height: 23px;
    text-decoration: none;
}

/* why web development  section styles */
.why-development-container {
    max-width: 1140px;
    background: rgba(13, 19, 33, 0.02);
    padding: 80px 97px;
    margin: 0 auto;
    margin-bottom: 88px;
}

.why-development-items-content .item1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 16px;
    background: linear-gradient(90.00deg, rgb(255, 255, 255), rgba(255, 255, 255, 0) 100%);
    padding: 48px;
    margin-bottom: 32px;
}

/*  */
.why-development-items-content .item1 .text-content>h4 {
    color: rgba(13, 19, 33, 0.7);
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
    margin-bottom: 16px;
}

.why-development-items-content .item1 .text-content>p {
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    opacity: 0.7;
    margin-bottom: 32px;
}

.why-development-items-content .item2 {
    display: flex;
    align-items: center;
    gap: 90px;
    border-radius: 16px;
    background: linear-gradient(90.00deg, rgb(255, 255, 255), rgba(255, 255, 255, 0) 100%);
    padding: 48px;
    margin-bottom: 32px;
}

.why-development-items-content .item2 .text-content>h4 {
    color: rgba(13, 19, 33, 0.7);
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
    margin-bottom: 16px;
}

.why-development-items-content .item2 .text-content>p {
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    opacity: 0.7;
    margin-bottom: 32px;
}

.why-development-items-content .item3 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 90px;
    border-radius: 16px;
    background: linear-gradient(90.00deg, rgb(255, 255, 255), rgba(255, 255, 255, 0) 100%);
    padding: 48px;
}

.why-development-items-content .item3 .text-content>h4 {
    color: rgba(13, 19, 33, 0.7);
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
    margin-bottom: 16px;
}

.why-development-items-content .item3 .text-content>p {
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    opacity: 0.7;
    margin-bottom: 32px;
}

/* my inspiration section styles */
.my-inspiration-container {
    max-width: 1140px;
    margin: 0 auto;
    border-radius: 16px;
    margin-bottom: 150px;
}

.my-inspiration-container .inspiration-video {
    padding: 16px;
    border: 1px solid rgba(13, 19, 33, 0.2);
    border-radius: 16px;
}

.my-inspiration-container .inspiration-video iframe {
    width: 100%;
    height: 550px;
    border-radius: 16px;
}

/* current target section styles */
.current-target-container {
    max-width: 1140px;
    margin: 0 auto;
}

.current-target-container .current-target-content {
    display: flex;
    gap: 24px;
}

.current-target-container .current-target-content .html {
    border-radius: 16px;
    background: rgba(255, 76, 30, 0.05);
    padding: 40px;
    width: 33%;
}

.current-target-container .current-target-content .html h3 {
    color: rgb(13, 19, 33);
    font-size: 24px;
    font-weight: 800;
    line-height: 36px;
    margin-top: 24px;
    margin-bottom: 8px;
}

.current-target-container .current-target-content .html p {
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    opacity: 0.7;
    margin-bottom: 24px;
}

.current-target-container .current-target-content .html a {
    color: rgb(13, 19, 33);
    font-weight: 700;
    line-height: 19px;
    text-decoration-line: underline;
}

.current-target-container .current-target-content .css {
    border-radius: 16px;
    background: rgba(0, 76, 232, 0.05);
    padding: 40px;
    width: 33%;
}

.current-target-container .current-target-content .css h3 {
    color: rgb(13, 19, 33);
    font-size: 24px;
    font-weight: 800;
    line-height: 36px;
    margin-top: 24px;
    margin-bottom: 8px;
}

.current-target-container .current-target-content .css p {
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    opacity: 0.7;
    margin-bottom: 24px;
}

.current-target-container .current-target-content .css a {
    color: rgb(13, 19, 33);
    font-weight: 700;
    line-height: 19px;
    text-decoration-line: underline;
}

.current-target-container .current-target-content .js {
    border-radius: 16px;
    background: rgba(255, 223, 0, 0.05);
    padding: 40px;
    width: 33%;
}

.current-target-container .current-target-content .js h3 {
    color: rgb(13, 19, 33);
    font-size: 24px;
    font-weight: 800;
    line-height: 36px;
    margin-top: 24px;
    margin-bottom: 8px;
}

.current-target-container .current-target-content .js p {
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    opacity: 0.7;
    margin-bottom: 24px;
}

.current-target-container .current-target-content .js a {
    color: rgb(13, 19, 33);
    font-weight: 700;
    line-height: 19px;
    text-decoration-line: underline;
}

/* support section styles here */
.support-section-container {
    max-width: 1140px;
    height: 313px;
    background-image: url('/assets/handshake.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 16px;
    background-color: rgba(0, 0, 0, 0.3);
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-blend-mode: overlay;
    padding: 64px 48px;
    margin-top: 50px;
}

.support-section-container .support-section-content h3 {
    color: rgb(255, 255, 255);
    font-size: 32px;
    font-weight: 700;
    line-height: 36px;
    margin-bottom: 16px;
}

.support-section-container .support-section-content p {
    color: rgb(255, 255, 255);
    opacity: 0.7;
    margin-bottom: 24px;
}

.support-section-container .support-section-content form {
    display: flex;
    gap: 16px;
}

.support-section-container .support-section-content form>input[type="text"] {
    padding: 19px 20px 19px 20px;
    border: 1px solid rgba(13, 19, 33, 0.15);
    border-radius: 8px;
    background: rgb(255, 255, 255);
    width: 100%;
    outline: none;
    color: rgba(13, 19, 33, 0.4);
    font-weight: 400;
    line-height: 19px;
}

.support-section-container .support-section-content form>input[type="text"]::placeholder {
    color: rgba(13, 19, 33, 0.4);
    font-weight: 400;
    line-height: 19px;
}

.support-section-container .support-section-content form>input[type="submit"] {
    display: inline-block;
    padding: 17px 20px 17px 20px;
    border-radius: 8px;
    background: rgb(255, 255, 255);
    border: none;
    cursor: pointer;
    color: rgb(13, 19, 33);
    font-size: 20px;
    font-weight: 600;
    line-height: 23px;
}

/* footer section styles here */
#footer {
    max-width: 1440px;
    margin: 0 auto;
    border-radius: 16px;
    background: rgba(13, 19, 33, 0.03);
    padding: 32px 150px 32px 150px;
    margin-top: 80px;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-container h3 {
    color: rgb(13, 19, 33);
    font-size: 20px;
    font-weight: 600;
    line-height: 23px;
}
.footer-container .contact{
    display: flex;
    gap: 24px;
}